:root {
	--color: #d90406; /* #024959 */
	--colorHover: #9d0102; /* #037E8C */
    --color-grey-1: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.contenedor {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "header"
						 "contenido"
						 "footer";
}




.contenedor .header{

    grid-area: header;
}

.contenedor .contenido{
	grid-area: contenido;
}


.contenedor .footer{
	background: black;
	color: #fff;
	padding: 20px;
	grid-area: footer;
}

.container2{
  display: grid;
  grid-template-columns: [start] 1fr [main-start] minmax(min-content, 1100px) [main-end] 1fr [end];
  grid-column-gap: 2rem;
}
