.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	text-align: left;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger ul li {
  padding: 5px 0px;
}