.cuerpo {
	width: 100%;
	margin: 0;
	display: grid;
	padding: 15px 0px;
    grid-gap: 50px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: minmax(10px, 350px) 1fr auto;

	grid-template-areas: 
						 "section-portada"
						 "section-rubros"
						 "section-adherite";
}


.cuerpo .section-portada{
	margin-top: -20px;
	background-color: #EC7063;
	grid-column: 1/-1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: section-portada;
	/**background: url(../../../../assets/files/img/imgPortadas/ecomerce.jpg) no-repeat center center fixed; **/
	/**-webkit-background-size: cover;**/
	/**-moz-background-size: cover;**/
	/**-o-background-size: cover;**/
	/**background-size: cover;**/
}

.cuerpo .section-rubros{
	grid-column: 1/-1;
	background: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: section-rubros;
}


.cuerpo .section-adherite{
	grid-column: 1/-1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: section-adherite;
}

.cuerpo .section-recomendaciones{
	grid-column: 1/-1;
	background: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: section-rubros;
}

.cuerpo .section-redes{
	grid-column: 1/-1;
	background: #c9d4d1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: section-adherite;
}


@media screen and (max-width: 920px){
	.cuerpo {
		grid-template-rows: minmax(10px, 300px) 1fr auto;

	}


}