@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer:before {
  content: "\e910";
}
.icon-chevron-small-down:before {
  content: "\e908";
}
.icon-chevron-small-up:before {
  content: "\e909";
}
.icon-add-user:before {
  content: "\e90b";
}
.icon-blackboard:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\e900";
}
.icon-cycle:before {
  content: "\e90a";
}
.icon-feather:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-shop:before {
  content: "\e90e";
}
.icon-shopping-basket:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e90d";
}
.icon-suitcase:before {
  content: "\e906";
}
.icon-tools:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e907";
}
.icon-paint-format:before {
  content: "\e90f";
}
.icon-display:before {
  content: "\e956";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
