.grid-footer {
	width: 100%;
	margin: 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);

	grid-template-areas: "softcre";
}

.grid-footer .softcre{
	
	grid-column: 1/-1;
    /**background: #faa43d;**/
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
	grid-area: softcre;
}

