.grid-adherite {
	width: 45%;
	display: grid;
	grid-gap: 10px;
	max-width: 1000px;
	margin: 5px auto;
    text-align: center; 
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 
						 "img-fondo title";
	
	
}

.grid-adherite .img-fondo{
	
	grid-column: 1/-1;
	background: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: img-fondo;
}

.grid-adherite .img-fondo img{
	border-radius: 95px;
	width: 200px; 
  	height: 200px;
}

.grid-adherite .title{
	
	grid-column: 1/-1;
	background: #fff;
	font-size: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: title;
}

@media screen and (max-width: 920px){

	.grid-adherite {
		width: 85%;
		
		
	}

	.grid-adherite .img-fondo img{

		height: 95px;
		width: 95px;		
	}

	.grid-adherite .title p{
		font-size: 15px;
	}

}