.grid-neg-comidas {
	width: 90%;
	max-width: 1000px;
	display: grid;
	grid-gap: 20px;
	margin: 10px auto;
    text-align: center; 
	
	
}

.grid-neg-comidas .section-negocios{
	
	grid-column: 1/-1;
	margin: 35px auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-neg-comidas .section-menu{
	
	grid-column: 1/-1;
	margin: 35px auto;
	display: block;
	
}

.grid-neg-comidas .section-promos{
	
	grid-column: 1/-1;
	margin: 35px auto;
	display: flex;
	
}



