header {
	width:100%; 
	background:#d40406;
	position:-webkit-sticky; 
	position:sticky; 
	top:0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	z-index: 100000;


}


header nav {
	width:100%;
	/* margin:20px auto; */
	/* max-width: 1000px; */
	background: var(--color);
	z-index: 1000;
	
}

.menu_bar {
	display:none;
	z-index: 2;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
	border-radius: 30px;
}

header nav ul li:hover {
	background:var(--colorHover);
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	
}
 
header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:none;
}
 
header nav ul li .children {
	display: none;
	background:#F78154;
	float: right;
	width: 100%;
	z-index:1000;
	position: absolute;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}



.ingresar {
	float:right;
	font-size: 14px;
	display: block;
	padding: 2px;
}

.submenu {
	float:right;
	font-size: 14px;
	display: block;
	padding: 2px ;
}

@media screen and (max-width:750px ) {
	body {
		padding-top: 80px;
	}

	header {
		height: auto; 
		background:#fff;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	header nav {
		width: 75%;
		height: calc(100% - 80px);
		position: fixed;
		margin: 0;
		right: 100%;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display:none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
		position: fixed;
		top: 0;
	}

	.menu_bar .btn-menu {
		display:block;
		padding:20px;
		background:var(--color);
		color:#fff;
		overflow: hidden;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}

	.ingresar {
		
		float:none;
	}

	.submenu {
		float: none;
	}
}