.contenedor-login {
  margin: 7rem 30px 8rem;
}

.contenedor-registro {
  margin: 7rem 30px 4rem;
}

.box {
  grid-column: main-start / main-end;
  max-width: 500px;
  margin: 0 auto;
}

.box h2 {
  margin: 0 0 10px;
  padding: 0;
  color: var(--colorHover);
  font-weight: bold;
  text-align: center;
  font-style: italic;
  font-size: 22px;
  letter-spacing: 1px;
}

.box h5 {
  margin: 12px 0 0;
  padding: 0;
  color: rgba(0, 0, 0, .6);
  text-align: center;
}

.box h5 a {
  color:var(--colorHover);
  text-decoration: none;
}

.box h5 a:hover {
  color:var(--colorHover);
  text-decoration: underline;
}

.box small {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

.text-capitalize {
  text-transform: capitalize;
}

.inputBox {
  width: 100%;
  max-width: 500px;
  height: 60px;
  position: relative;
  margin: 0 auto 1.5rem;
  overflow: hidden;
}

.inputBox input,
.inputBox select {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: transparent;
  color: rgba(0, 0, 0, .8);
  padding-top: 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: .5s;
}

.inputBox label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  pointer-events: none;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  transition: .5s;
}

.inputBox label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--colorHover);
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.6 ease;
}

.inputBox input:focus + .label-name .content-name,
.inputBox input:valid + .label-name .content-name,
.inputBox select:valid + .label-name .content-name {
  transform: translateY(-200%);
  font-size: 12px;
  color:  var(--colorHover);
  transition: .6s;
}

.inputBox input:focus + .label-name::after,
.inputBox input:valid + .label-name::after,
.inputBox select:valid + .label-name::after {
  transform: translateX(0%);
  transition: .6s;
}

.inputButton {
  width: 100%;
  max-width: 250px;
  padding: 12px 0;
  border-radius: 90px;
  background-color:var(--color);
  font-family: inherit;
  font-size: 1rem;
  color: white;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s ease-out;
  outline: none;
  border: 0;
}

.inputButton:hover {
  outline: none;
  opacity: .9;
  transform: scale(1.03);
  transition: .5;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: var(--colorHover);
}