._disable-pointer-events {
    pointer-events: none !important;
}

/**.amazing-menu {
    overflow-x: hidden;
}**/

.amazing-menu.-scrolled .menu-item {
            -webkit-transform: perspective(40rem) translateY(-.5rem) scaleX(.95) rotateX(-40deg);
                    transform: perspective(40rem) translateY(-.5rem) scaleX(.95) rotateX(-40deg);
        }

.amazing-menu {
    width: 93%;
    display: grid;
    grid-gap: 12px;
    max-width: 1000px;
    margin: 10px auto; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}



.amazing-menu .menu-item{
    display: block;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);

}



 .amazing-menu .menu-item .container a { 
        color:black;
        text-decoration:none;
        display: block;
    }  

.amazing-menu .menu-item .container a img{ 
        width: 250px;
        height: 250px;
    }  

.amazing-menu .menu-item .container a p{ 
        font-size: 18px;
        padding: 10px;
    }  


@media screen and (max-width:750px ) {
    
    .amazing-menu {
        width: 100%;
        display: grid;
        grid-gap: 5px;
        max-width: 1000px;
        margin: 10px auto;
        text-align: center; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);


    }

    .amazing-menu .menu-item .container a img{ 
        width: 150px;
        height: 150px;
    } 


    
}