.product-cart{
  display: flex;
  flex-direction: column;
}

.product-img-top{
  width: 100%;
  height: 25vw;
  max-height: 15rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-grey-1);
}

.product-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-desc h3{
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.product-desc h4{
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.product-desc h2{
  color: var(--secondary-color);

  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .product-img-top{
    margin-bottom: 2rem;
  }
  
  .product-desc h3{
    font-size: 1.5rem;
  }
  
  .product-desc h4{
    font-size: 1.1rem;
  }

  .product-desc h2{
    font-size: 1.3rem;
  }


}