.section-productos{
  margin: 4rem 0;
}

.productos-wraper{
  grid-column: main-start / main-end;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-gap: 1rem;
  justify-content: center;
}

.productos-wraper a{
  color: black;
  text-decoration: none;
}

.productos-wraper .producto-desc{
  margin-bottom: 1rem;
}

.products-title{
  grid-column: main-start / main-end;
  grid-row: 1 / 2;
  margin-bottom: 1rem;
  text-align: center;
  color: black;
}


.title-cat{
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}


@media (min-width: 768px) {

    .title-cat{
      color: var(--primary-color);
      font-size: 1.7rem;
    }
    

  .productos-wraper{
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-gap: 2rem;
  }
  
}