
.producto-cell{
  border: 1px solid var(--color-grey-1);
  background: #FBFCFC;
}

.producto-cell:hover {
  background: #F5F5F5;
}


.producto-cart{
  display: flex;
  flex-direction: column;
}

.producto-img-top{
  width: 100%;
  height: 15vw;
  max-height: 25rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-grey-1);
}

.producto-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto-desc{
  padding: 10px;
}

.producto-desc h3{
  font-size: .8rem;
  font-weight: 400;
}

.producto-desc h4{
  
  font-weight: 500;
  font-size: 0.7rem;
}

.producto-desc h2{
 
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .producto-img-top{
    margin-bottom: 1rem;
  }
  
  .producto-desc h3{
    font-size: 1rem;
  }
  
  .producto-desc h4{
    font-size: 0.8rem;
  }

  .producto-desc h2{
    font-size: 1.3rem;
  }

}