.amazing-promos img {
    width: 100%;
    height: 100px;
    border: 2px solid #fff;
    padding: 30px;
}



@media screen and (max-width:750px ) {

	.amazing-promos img  {
	    width: 50%;
	    height: 50%;
	    border: 2px solid #fff;
	    
	}
}
