._disable-pointer-events {
    pointer-events: none !important;
}

/**.amazing-menu {
    overflow-x: hidden;
}**/

.amazing-rubros.-scrolled .rubros-item {
            -webkit-transform: perspective(40rem) translateY(-.5rem) scaleX(.95) rotateX(-40deg);
                    transform: perspective(40rem) translateY(-.5rem) scaleX(.95) rotateX(-40deg);
        }

.amazing-rubros {
    width: 720px;
    max-width: 100%;
    margin: 10px auto;
    line-height: 25px;
    text-align: center;
    color: white;
    display: grid;
    grid-gap: 10px;

}

.amazing-rubros .rubros-item1{
    display: block;
    font-size: 17px;
    padding: 20px;
    background: #d90406;
    box-shadow: 2px 2px 10px rgba(0,0,0,.20);
    -webkit-transition: all 210ms cubic-bezier(.8, .1, .2, .9);
}

.amazing-rubros .rubros-item2{
    display: block;
    font-size: 18px;
    background: #F78154;
    box-shadow: 2px 2px 10px rgba(0,0,0,.20);
    -webkit-transition: all 210ms cubic-bezier(.8, .1, .2, .9);

}

.rubros-item2:hover,
    .rubros-item2:focus {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  
    }

 .amazing-rubros .rubros-item2 .container a { 
        color:#fff;
        display:block;
        text-decoration:none;
        padding: 50px;
    } 

@media screen and (max-width:750px ) {
    
    .amazing-rubros {
        width: 300px;
        max-width: 1000px;
        margin: 10px auto;
        line-height: 25px;
        text-align: center;
        color: white;


    }

    .amazing-rubros .rubros-item1{
        font-size: 12px;
    }

    .amazing-rubros .rubros-item2{
        font-size: 15px;
    }

    
}