.section-slider{
  position: relative;
}

.slider-titulo{
  grid-column: main-start / main-end;
  grid-row: 1 / 2;
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.slider-titulo:after {
  content: ""; 
  display: block;
  margin: 0 auto;
  width: 3rem;
  border-bottom: 5px solid var(--primary-color);
}

.slider-wraper{
  grid-column: start / end;
  grid-row: 2 / 3;
}
.slider-cell{
  width: 40%;
  margin-right: 1rem;
}



@media (min-width: 768px) {

  .slider-titulo{
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .slider-wraper{
    grid-column: main-start / main-end;
  }

  .slider-cell{
    width: 25%;
    margin-right: 2rem;
  }
  
}